* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.bg {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("/resources/images/hh-desktop-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 50;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
    position: relative;
    z-index: 100;
}


/* --- Question --- */


.question_cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question_cont #logo {
    width: 290px;
    margin: 40px;
}

.question_cont #question {
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: 1px dashed #000;
    outline-offset: -3px;
    width: 190px;
    margin: 10px;
    transition: all 300ms;
}

.question_cont #question::placeholder {
    letter-spacing: 3px;
    text-align: center;
    color: #000;
}

.question_cont #question:focus {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}


/* --- Banner Youtube Gold --- */


.container .banner_yt {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    margin: 30px;
}

.container .banner_yt h3 {
    font-size: .9rem;
    margin-bottom: 15px;
    text-align: center;
}

.container .banner_yt:hover #logo_gold {
    width: 285px;
}

.container .banner_yt #logo_gold {
    width: 270px;
    cursor: pointer;
    transition: all 300ms;
}

.container .banner_yt #logo_gold:hover {
    width: 295px;
}


/* --- Background --- */


.bg_ {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 70;
    position: absolute;
    backdrop-filter: blur(3px);
}
